
body {
    font-family: Afont-family: 'Playfair Display', serif;
    background: radial-gradient(#e66465, #9198e5);
    height: 100vh;
}


}
.maindetails {
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 0px;
}
.
}
.maintemperature {
    text-align: center;
}

.datetime {
    text-align: right;
    padding-top: 5px;
    margin-bottom: 0px;
}

.day {
    background: rgba(12, 12, 12, 0.02);
    border: none;
    border-radius: 5px;
    padding: 10px ;
    height: 170px;
    width: 120px;
}

.degreepreference {
    text-align: right;
}

.mainimagelocation {
    padding-bottom: 20px;
}

.mainimage {
    width: 200px;
}

.searchbar {
    border-radius: 5px;
    padding: 0;
    display: block;
    text-align: right;
}

.searchfield {
    border-radius: 20px;
    border: burlywood;
    padding: 7px;
    margin: 15px
}


.searchbutton {
    background-color: white;
    border-radius: 15px;
    border: burlywood;
    padding: 7px 10px;
    transition: all 100ms ease-in-out;
}

#current {
    padding: 7px 10px;
    margin-left: 20px;
    margin-top: 15px
}

.searchbutton:hover {
    background-color: #e1eae9;
    border: none;
}

.topbar {
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.currentDescription {
    background: #f7b2d0;
    box-sizing: border-box;
    box-align: center;
    width: 60%;
    border-radius: 20px;
    padding: 3em;
    padding-bottom: 2.5em;
    display: block;
    margin: 0 auto;
}

.currentdetailsFeels {
    text-transform: capitalize;
}

.currentimage {
    padding-bottom: 20px;
}

.degreePreference {
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 20px;
}

.float-left {
    font-size: 58px;
    display: block;
    text-align: center;
    margin-bottom: 0.05em;
    line-height: 0.7;
    padding: 10px
}

.currentdetailsFeels {
    text-align: left;
    padding: 20px
}

.datetime {
    color: darkslateblue;
}

.day {
    border-radius: 5px;
    padding: 10px;
    width: 135px;
    line-height:0.3;
    margin-bottom:30px;
    box-sizing:content-box;
}

   

    .day img {
        width: 80px;
        margin-top: -10px;
        margin-bottom: -5px;
    }


.coder {
    font-weight: 14px;
    display:block;
    width: 80%;
    text-align:center;
    padding:20px;
    margin-left:100px;
    
    
}
a{
    color:purple;
}
h5{
    line-height:0.9;
}